<footer>
    <footer class="wrap">

        <footer class="links">
            <a href="#">COMPANY</a>
            <a href="#">CONTACT US</a>
            <a href="#">SHIPPING</a>
            <a href="#">RETURNS</a>
            <a href="#">CARRERS</a>
        </footer>
        <footer class="social">
            <!--- FACEBOOK TWITTER Printrest GOoogle-->
            <a href="#"><img src="png/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="png/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="png/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="png/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="png/facebook.svg" alt="facebook"></a>
        </footer>
        <footer class="copy">
            <p>&copy; 2025. Merlin's Potions. All Rights Reserved</p>
        </footer>
    </footer>
    
    <footer class="newlleter">
        <form action="">
            <h1>Sing up for our Newslleter</h1>
            <h2>Sing up for our newslleter & get exclusive discount!</h2>
            <input type="email" placeholder="Enter your email">
            <button>Subscribe</button>
        </form>
    </footer>

   
</footer>