<nav class="nav-main">
    <nav class="nav-container">
        <nav class="nav-title">
            <p><b>MERLIN'S</b> POTIONS </p>
            <div class="flex">
                <p class="lin"></p>
                <p class="nav-sub-title">Fine potions since 1026</p>
                <p class="lin"></p>
            </div>
        </nav>
        <nav class="nav-seach">
            <img src="png/seach.svg" alt="Descrição da imagem" />

            <input type="text" placeholder="Search our stock">
        </nav>
        <nav class="nav-ads">
            <p class="nav-ads-p"><b>Free shipping</b> orders over $50</p>
        </nav>
        <nav class="nav-cart">
            <a routerLink="/cart">
                <img src="png/cart.webp" alt="cart">
                <p>BAG: <b>1</b></p>
            </a>

        </nav>
    </nav>
</nav>
<nav class="nav-links">
    <nav class="nav-links-container">
        <ul class="nav-links-ul">
            <div class="items">
                <a>Potions</a><img src="png/arrow.svg" alt="">
            </div>
            <div class="items">
                <a>Ingredients</a><img src="png/arrow.svg" alt="">
            </div>
            <div class="items">
                <a>Books</a><img src="png/arrow.svg" alt="">
            </div>
            <div class="items">
                <a>Supplies</a><img src="png/arrow.svg" alt="">
            </div>
            <div class="items">
                <a>Charms</a><img src="png/arrow.svg" alt="">
            </div>
            <a class="active">Clearance!</a>
        </ul>
        <nav class="login">
            <a href="#">Sing In</a>
            <p>or</p>
            <a href="#">Sing Up</a>
        </nav>
    </nav>
</nav>